@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Montserrat&display=swap');

html {  
  scroll-behavior: smooth;
}

body {
  height: 100%;
  background-color: #f1eacd;
  font-family: 'Montserrat', sans-serif;
  padding-top: 80px;
}

ul {
  list-style: square outside;
 }

.container {
  max-width: 700px;
  margin: auto;
  }

/*  ----------------------- Оформление ссылок ------------------- */

a:hover {
  text-decoration: underline;
}

a:visited {
  color: #000;
}

/*  ----------------------- Блок About Me ------------------- */

.info {
margin-bottom: 20px;
}

.info p {
  margin: 0;
}

.cv_avatar {
  margin-right: 20px;
  width: 225px;
  height: 225px;
  border-radius: 50%;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.25);
}

/*  ----------------------- Оформление карточек ------------------- */

.card {
  padding: 10px 20px;
  background: #b6cea5;
  margin-bottom: 10px;
  border-radius: 5px;
}

.card h3 {
  margin-bottom: 10px;
}

.list {
  padding: 0;
  border: 0; 
}

.list li {
  margin-bottom: 10px;
}


/* ------------------------------------- Футер -------------------------------- */

.footer {
  margin: auto;
  text-align: center;
  vertical-align: middle;
  font-size: 75%;
}

/* ------------------------------------- Бургер-меню -------------------------------- */

.burger_container {
  max-width: 1180px;
  margin: 0px auto;
  padding: 0px 10px;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}
.header:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f5e1b5;
  z-index: 2;
}

.header_body {
  position: relative;
  display: flex;
  justify-content: space-between; /*  раскидать элементы по сторонам */
  height: 70px;
  align-items: center;
}

.header_logo {
  flex: 0px 0px 70px;
  display: block;
  overflow: hidden;
  position: relative;
  z-index: 3;
}

.header_logo img {
  max-width: 60px;
  border-radius: 50%;
  display: block;
}
.header_burger {
  display: none;
}

.header_nav {
  display: flex;
  position: relative;
  z-index: 2;
}

.header_nav li {
  list-style: none;
  margin: 0px 0px 0px 10px; /* расстояние между пунктами в меню */
}

.header_nav_link {
  color: black;
  text-transform: uppercase;
  font-size: 16px;
  text-decoration: none;
}


/* ------------------------------------- Медиа -------------------------------- */

@media (max-width: 767px) {
  body.lock {
    overflow: hidden;
  }
  .header_burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    position: relative;
    z-index: 3;
  }
  .header_burger span {
    position: absolute;
    background-color: #000;
    left: 0px;
    width: 100%;
    height: 2px;
    top: 9px;
    transition: all 0.3s ease 0s;
  }
  .header_burger:before,
  .header_burger:after {
    content: "";
    background-color: #000;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0px;
    transition: all 0.3s ease 0s;
  }
  .header_burger:before {
    top: 0;
  }
  .header_burger:after {
    bottom: 0;
  }
  .header_burger.active:before {
    transform: rotate(45deg);
    top: 9px;
  }
  .header_burger.active:after {
    transform: rotate(-45deg);
    bottom: 9px;
  }
  .header_burger.active span {
    transform: scale(0);
  }
  .header_menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    transition: all 0.3s ease 0s;
    background-color: #f1eacd;
    padding: 70px 0px 0px 0px;
  }
  .header_menu.active {
    top: 0;
  }
  .header_nav {
    display: block;
    position: fixed;
  }
  .header_nav li {
    margin: 0px 0px 20px 0px;
  }
  .header_nav_link:hover {
    filter: brightness(0.7);
  }
}
